*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url(http://getwallpapers.com/wallpaper/full/3/3/4/490956.jpg);
    background-size: cover;
    background-position:center;    
    font-family: sans-serif;
}
.main{
    background: #A9A9A9;  
    margin: 30px;  
}
.main ul{
    display:inline-flex;
    list-style:none;
    color:#0000CD;
}
.main ul li{
    width:200px;
    margin:15px;
    padding:15px;
}
.main ul li a{
    text-decoration: none;
    color:#0000CD;
}
.main ul li:hover{
    color:#6A5ACD;
    cursor: pointer;
}
.sub{
    display:none;
}
.main ul li:hover .sub{
    display:block;
    position:absolute;
    color:rgb(0,100,0);
    margin-top:15px;
    margin-left:-15px;
}
.main ul li:hover .sub ul{
    display:block;
    margin:10px;
}
.main ul li:hover .sub ul li{
    width:150px;
    padding:10px;
    border-bottom: 3px solid #BA55D3;
    border-radius:0;
    text-align:left;
}
.main ul li:hover .sub ul li:last-child{
    border-bottom:none;
}
.main ul li:hover .sub ul li a:hover{
    color:#b2ff00;
}